<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>game</title>
</head>
<body>
    <form action="/madlib" method="get">
        <label for="color">Color</label><br>
        <input type="text" name="color" id="color"><br>
        <label for="noun">Noun:</label><br>
        <input type="text" name="noun" id="noun"><br>
        <label for=adjective>adjective:</label><br>
        <input type="text" name='adjective' id="adjective"><br>
        <input type="submit">   
    </form>
</body>
</html>